:root {
  --font-sans: "PingFang SC", system-ui, sans-serif;

  font-synthesis: style; /* 禁用字体抗锯齿 */
  -webkit-font-smoothing: antialiased; /* 禁用字体抗锯齿 */
  -moz-osx-font-smoothing: grayscale; /* 禁用字体抗锯齿 */
  word-wrap: break-word; /* 自动换行 */
  hyphens: auto; /* 自动断字 */
}

@theme {
  --font-sans: var(--font-sans);
}
